# Import's

In [55]:
import pandas as pd
import math

# Data

In [56]:
df = pd.read_excel('./data/gps_summary.xls')

In [57]:
df.columns

Index(['Unnamed: 0', 'level_0', 'index', 'Timestamp', 'id', 'lat', 'long',
       'LastName', 'FirstName', 'CarID', 'CurrentEmploymentType',
       'CurrentEmploymentTitle', 'time_delta_seconds', 'timestamp_end',
       'time_delta_minutes', 'date', 'time', 'location_status'],
      dtype='object')

In [58]:
df.head(2)

,Unnamed: 0,level_0,index,Timestamp,id,lat,long,LastName,FirstName,CarID,CurrentEmploymentType,CurrentEmploymentTitle,time_delta_seconds,timestamp_end,time_delta_minutes,date,time,location_status
0,0,78,2843,2014-01-06 07:22:04,1,36.063658,24.885866,Calixto,Nils,1.0,Information Technology,IT Helpdesk,2097,2014-01-06 07:57:01,34.950000,2014-01-06,07:22:04,sospechoso
1,1,853,25760,2014-01-06 12:26:27,1,36.076663,24.857591,Calixto,Nils,1.0,Information Technology,IT Helpdesk,3514,2014-01-06 13:25:01,58.566667,2014-01-06,12:26:27,sospechoso

## Agrego primer Clave

In [59]:
base = {}
for i, r in df.iterrows():
    base[r['date']] = {}

In [67]:
#base

## Agrego segunda Clave

In [61]:
df_json = df[['date', 'id']]
for i, r in df_json.iterrows():
    base[r['date']][str(r['id'])] = {}

In [68]:
#base

## Agrego tercer Clave

In [63]:
df_json = df[['date', 'id', 'LastName', 'FirstName', 'CurrentEmploymentType', 'CurrentEmploymentTitle']]
for i, r in df_json.iterrows():
    base[r['date']][str(r['id'])]['CurrentEmploymentType'] = r['CurrentEmploymentType']
    base[r['date']][str(r['id'])]['CurrentEmploymentTitle'] = r['CurrentEmploymentTitle']
    base[r['date']][str(r['id'])]['LastName'] = r['LastName']
    base[r['date']][str(r['id'])]['FirstName'] = r['FirstName']

In [69]:
#base

#### Agrego cuarta Clave

In [65]:
df_json = df[['date', 'id', 'time', 'lat', 'long']]
for i, r in df_json.iterrows():
    base[r['date']][str(r['id'])][r['time']] = (r['lat'], r['long'])

In [70]:
#base