# Import's

In [11]:
import pandas as pd
import math
from datetime import datetime

# Data

In [32]:
df = pd.read_excel('./data/gps_summary.xls')

In [33]:
df.columns

Index(['Unnamed: 0', 'level_0', 'index', 'Timestamp', 'id', 'lat', 'long',
       'LastName', 'FirstName', 'CarID', 'CurrentEmploymentType',
       'CurrentEmploymentTitle', 'time_delta_seconds', 'timestamp_end',
       'time_delta_minutes', 'date', 'time', 'location_status'],
      dtype='object')

In [34]:
df.head(2)

,Unnamed: 0,level_0,index,Timestamp,id,lat,long,LastName,FirstName,CarID,CurrentEmploymentType,CurrentEmploymentTitle,time_delta_seconds,timestamp_end,time_delta_minutes,date,time,location_status
0,0,78,2843,2014-01-06 07:22:04,1,36.063658,24.885866,Calixto,Nils,1.0,Information Technology,IT Helpdesk,2097,2014-01-06 07:57:01,34.950000,2014-01-06,07:22:04,sospechoso
1,1,853,25760,2014-01-06 12:26:27,1,36.076663,24.857591,Calixto,Nils,1.0,Information Technology,IT Helpdesk,3514,2014-01-06 13:25:01,58.566667,2014-01-06,12:26:27,sospechoso

In [36]:
df['date'] = df['date'].dt.strftime('%Y-%m-%d')
df.head(2)

,Unnamed: 0,level_0,index,Timestamp,id,lat,long,LastName,FirstName,CarID,CurrentEmploymentType,CurrentEmploymentTitle,time_delta_seconds,timestamp_end,time_delta_minutes,date,time,location_status
0,0,78,2843,2014-01-06 07:22:04,1,36.063658,24.885866,Calixto,Nils,1.0,Information Technology,IT Helpdesk,2097,2014-01-06 07:57:01,34.950000,2014-01-06,07:22:04,sospechoso
1,1,853,25760,2014-01-06 12:26:27,1,36.076663,24.857591,Calixto,Nils,1.0,Information Technology,IT Helpdesk,3514,2014-01-06 13:25:01,58.566667,2014-01-06,12:26:27,sospechoso

In [38]:
df.dtypes

Unnamed: 0                         int64
level_0                            int64
index                              int64
Timestamp                 datetime64[ns]
id                                 int64
lat                              float64
long                             float64
LastName                          object
FirstName                         object
CarID                            float64
CurrentEmploymentType             object
CurrentEmploymentTitle            object
time_delta_seconds                 int64
timestamp_end             datetime64[ns]
time_delta_minutes               float64
date                              object
time                              object
location_status                   object
dtype: object

## Agrego primer Clave

In [39]:
base = {}
for i, r in df.iterrows():
    base[str(r['date'])] = {}

In [6]:
#base

## Agrego segunda Clave

In [40]:
df_json = df[['date', 'id']]
for i, r in df_json.iterrows():
    base[r['date']][str(r['id'])] = {}

In [ ]:
#base

## Agrego tercer Clave

In [41]:
df_json = df[['date', 'id', 'LastName', 'FirstName', 'CurrentEmploymentType', 'CurrentEmploymentTitle']]
for i, r in df_json.iterrows():
    base[r['date']][str(r['id'])]['CurrentEmploymentType'] = r['CurrentEmploymentType']
    base[r['date']][str(r['id'])]['CurrentEmploymentTitle'] = r['CurrentEmploymentTitle']
    base[r['date']][str(r['id'])]['LastName'] = r['LastName']
    base[r['date']][str(r['id'])]['FirstName'] = r['FirstName']

In [ ]:
#base

## Agrego cuarta Clave

In [42]:
df_json = df[['date', 'id', 'time', 'lat', 'long']]
for i, r in df_json.iterrows():
    base[r['date']][str(r['id'])][str(r['time'])] = (r['lat'], r['long'])

In [44]:
#base

In [45]:
import json
with open('./data/gps_summary.json', 'w') as f:
    json.dump(base, f)